.bg-default{
    background-color: #CDCDCD;
}

.divider-color{
    color: #CDCDCD;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  #empty-div{
    height: 35vw;
    background-color: #CDCDCD;
  }